.container {
  padding: 0 2rem;
}

.banner {
  text-align: center;
  font-weight: 500;
}

.banner a {
  text-decoration: underline;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
  color: #61e3a6;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.diffusion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.diffusion form {
  display: flex;
  flex-direction: column;
}

.diffusion form textarea {
  font-size: 1.25rem;
  margin: 0 0 15px 0;
  padding: 20px;
  resize: none;
  background: #3B3B3B;
  color: #eaeaea;
}

.generatebuttonroot {
  display: flex;
  justify-content: center;
}

.generatebutton {
  background-color: #61e3a6;
  color: #3B3B3B;
  border: none;
  width: 50%;
  font-size: 1.25rem;
  border-radius: 10px;
  margin: 1.75rem 0 1.25rem 0;
  padding: 0.7rem;
}

.generatebutton:hover {
  opacity: 0.9;
}

.image { 
  width: 250px;
  height: 250px;
  position: relative;
  margin: 2rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {}
